body {
    margin: 20px 20px;
    width: 900px;
}

a:visited {
    color: blue;
}

div#savedContainer {
    text-align: left;
    visibility: hidden;
    position: fixed;
    bottom: 0px;
    left: 20px;
}

div#saved {
    display: inline-block;
    margin-bottom: 20px;
    color:black;
    font-weight: bold;
}

h2 {
    background-color: #0000000c;
    padding: 20px;
}

table {
    border-spacing:  0px;
}

tr#head td {
    font-weight: bold;
}

tr.odd {
    background-color: #00000007;
}

td {
    padding: 6px 6px;
}

input[type=text] {
    padding: 6px;
}